$black : #1c242a;
$gold : #bb9c66;
$golden:#FFD700;
$black1 : rgb(15, 18, 20);
$ceremonius : 'Conv_ceremonious_one';
$harbell : 'Conv_Harbell_Personal_Use';
$bravo : 'Conv_BravoRG';
$PFdin : 'Conv_PFDinTextCondPro-Medium';
